* {
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 20px;
  left: 200px;
  top: 100px;
  display: inline-block;
}
body {
  background-color: #010020; /*020032*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
}
.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}
.square:hover {
  transition-duration: 0s;
}
